Package: com.L4grange.timeralarms
Name: TimerAlarms
Pre-Depends: firmware (>= 7.0)
Depends: mobilesubstrate
Version: 1.1
Architecture: iphoneos-arm
Description: Create alarms using the Timer.
Maintainer: L4grange <l4grange@gmail.com >
Author: L4grange
Section: Tweaks
